.app-container {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 1;
}

.app-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
    opacity: 1;
}

.app-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}
